<ion-view title="Programmation">

    <ion-header-bar class="bar-subheader">
        <div class="button-bar">
            <button
                ng-repeat="(sort, config) in availableSorts"
                ng-click="order(sort)" class="button button-light"
                ng-class="{ current: currentOrder === sort}"
                data-ng-bind="config.name"></button>
        </div>
    </ion-header-bar>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="has-header">
        <ion-list>
            <div data-ng-repeat="(section, artists) in sections">
                <ion-item class="section" data-ng-bind="section"></ion-item>
                <ion-item class="artist" ng-repeat="artist in artists | orderBy:'datetime':false" href="#/app/artists/{{artist.id}}">
                    <div class="actions">
                        <i class="icon" data-ng-class="{ 'ion-ios7-star-outline': !isFavorited(artist), 'ion-ios7-star': isFavorited(artist) }" ng-click="favorite(artist); $event.preventDefault()"></i>
                    </div>
                    <img data-ng-src="{{artist.image}}" height=50 width=50>
                    <div data-ng-bind="artist.name"></div>
                    <div data-ng-bind="artist.hour"></div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>

</ion-view>
