<ion-view title="{{artist.name}}">
    <ion-content class="has-header artist-page">
        <header>
            <img data-ng-src="{{ artist.image }}">
            <h1 data-ng-bind="artist.name"></h1>
        </header>
        <div class="subheader">
            <div><i class="icon ion-mic-c"></i> Scène <span data-ng-bind="artist.stage"></span></div>
            <div class="time"><i class="icon ion-clock"></i> <span data-ng-bind="artist.hour"></span></div>
        </div>
        <div data-ng-bind="artist.description"></div>
    </ion-content>
</ion-view>
