
$ionicons-font-path: "../lib/ionic/fonts";
$stable: #E6CA88;
$bar-stable-text: #FFF;

@import "../lib/ionic/scss/ionic";

button.button {
    border: none;
}
button.button.current {
    border-bottom: 5px solid rgba(94, 154, 255, 1);
}

ion-item.section {
    background-color: black;
    color: white;
    font-weight: bold;
}

ion-item.artist img {
    float: left;
}

ion-item.artist .actions {
    position: absolute;
    right: 10px;
    font-size: 17pt;
}

.artist-page img {
    width: 100%;
}
.artist-page header {
    position: relative;
}

.artist-page header h1 {
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 50%, transparent);
    width: 100%;
    margin: 0;
    padding: 0;
}
